@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Righteous&display=swap');


#content{
    max-width: 1600px;
    background-color: #faedcd;
    margin: 0% 100PX;
}
#a-book{
    text-align: center;
}
/* *{
    border: 2px solid blue;
} */
nav a{
    text-align: center;
    color: #faedcd;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #022b3b;
    color: white;
    font-size: large;
    text-decoration: underline;
}
#hero h1, #hero h4{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #00a896;
}
.msg{
    background-color: #00a896;
    font-family: 'RalewaY', 'Arial', 'sans-serif ';
    line-height: 1.5em;
    padding: 35px;
}
body{
    background-color: #022b3b;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #627b7e;    
}
.home-title{
    color: #627b7e;
    font-family: 'RalewaY', 'Arial', 'sans-serif ';
    font-size: 2em;
    margin-top: 10px
}
h4{
   color: #022b3b;
}
.book{
    text-align: center;
    margin: 0 auto;
    background-color: #022b3b;
}
.book, .join{
    color: white;
    background-color:#627b7e;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    color: blue;
    text-decoration: underline;
    
}
footer a{
    color: #faedcd;
    text-decoration: none;
}
footer p a:hover{
    background-color: #022b3b;
    color: white;
    font-size: large;
    text-decoration: underline;
}
footer p {
    font-size: 1.2em;
}
footer .social img {
    padding-top: 15px;
}  
footer{
    background-color: #627b7e;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}    
.logo, .icon{
    width: 80px;
}
#hero-image{
    width: 100%;
}
h2 {
    margin: 0;
}
#logo_link{
    padding-top: 5px;
} 
.icon{
    padding-top: 10px; 
} 
.msg p{
    padding-bottom: 15px;     
} 
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0; 
} 
.card-img{
    border: 10px solid black; 
}
main section img {
    box-sizing: border-box;
}
 

