@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Righteous&display=swap');


/*contact page CSS*/
#contactus{
    text-align: center;
}
form{
    width: 600px;
    margin: 5rem auto;
    border: 2px solid #264653;
    border-radius: 1rem;
    padding: 1rem;
    color: #E9C46A;
    background-color: #264653;

}
fieldset{
    border-radius: 1rem;
    color: #E9C46A;
    margin: 20px;
    text-align: center;
}
legend{
    font-weight: bolder;
    font-size: 1.5rem;
    color: white;
}
form ul li{
    margin-top: 1rem;
    list-style-type: none;
    text-align: left;
    font-weight: bold;
}
label{
    text-align: right;
    width: 90px;
    display: inline-block;
}
input, textarea{
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
}
textarea{
    vertical-align: top;
    height: 100px;
}
.button{
    margin-left: 0.5em;
    padding: 5px;
    list-style: none;
}




/*main web-site pages CSS*/
body{
    font-family: system-ui;
    margin: 0 auto;
    max-width: 1500px;
}
/* HOME SITE HEADERS */
#home_site_nav{
    position: sticky;
    top: 0px;
    z-index: 2;
}  
nav{
    background-color: #264653;
    display: grid;
    grid-template-columns: 150px 1fr 2fr;
    color: #E9C46A;
    border-bottom:2px solid black;
} 
#home_site_nav img{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100px;
    padding: 10px;
    border-radius: 100px;
    justify-self: center;
}
#home_site_nav h2{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 25px;
    margin-left: 0px;
    font-style: italic;
    font-weight: bolder;
    font-size: 2em;
    align-self: center;
    margin-bottom: 10px;
    justify-self: start;
   
}
#top_nav{
    margin-top: 25px;
    margin-left: 20%;
    justify-self: center;
    align-self: center;
}
#top_nav a{
    color: #E9C46A;
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    padding: 35px;
}
#home_site_nav  #top_nav a:hover{
    color: white;
    font-weight: lighter;
    background-color: black;
    text-decoration: underline;
}
#home_site_header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #264653;
    border: 2px solid black;
}
#home_site_header img{
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    align-self: self-start;
    justify-self: center;
    margin-bottom: 0px;
}
#home_site_header h1, h2, p, a{
    grid-column: 1/4;
    grid-row: 1/2;
}
#home_site_header h1{
    color: #E9C46A;
    font-weight: bolder;
    align-self: self-start;
    margin-top: 115px;
    font-size: 2.5em;
    width: 100%;
}
#home_site_header h2{
    color: #E9C46A;
    font-weight: bolder;
    align-self: self-start;
    margin-top: 200px;
    font-size: 2em;
    width: 100%;
}
#home_site_header p{
    color: white;
    font-weight: bolder;
    align-self: self-start;
    justify-self: center;
    margin-top: 250px;
    font-size: 1.5em;
    width: 50%;
    padding: 10px;
}
#home_site_header p:hover{
    background-color: black;
    opacity: 0.8;
}
#home_site_header a{
    background-color: #264653;
    color: white;
    font-weight: bold;
    justify-self: center;
    align-self: center;
    font-size: 1.5em;
    margin-top: 18%;
    padding: 15px;
    border: 2px solid #E9C46A;
    text-decoration: none;
    border-radius: 25px;
    z-index: 1;
}
#home_site_header a:hover{
    text-decoration: underline;
    background-color: #2A9D8F;
}

/* HOME SITE MAIN */
main{
    text-align: center;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
#home_site_main1{
    margin: 0%;
    background-color: #6f7364;
}
#main1{
    display: grid;
    align-items: center;
    justify-items:center ;
    padding-bottom: 50px;
    padding: 50px;
}
#aboutus{
    grid-column: 1/3;
    grid-row: 1/3;
    width: 70%; 
    height: 100%; 
    background-color: #E9C46A;
    color: #264653;
    padding-right: 20px;
    align-self: center;
    justify-self: start;
    border: 5px solid black;
}
#aboutus p{
    text-align: justify;
    padding: 30px;
    color: #264653;
    width: 85%;
}
#aboutus_img{
    grid-column: 2/4;
    grid-row: 1/3;
    justify-self: end;
    padding-left: 7%;
    margin-right: 10px;
    width: 80%;
}
#aboutus_img img{
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    align-self: center;
    border: 5px solid black;
}
#aboutus h3{
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
    margin: 0%;
}
main span{
    font-weight: bold;
}
#d-vera {
    grid-row: 2/3;
}
#de-vera p{
    font-weight: bolder;
    font-size: xx-large;
    color: white;
    text-align: center;
    background-color: black;
    margin-top: 0px;
}
#home_site_main2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    justify-items: center;
    background-color: black;
    padding-bottom: 50px;
    border-bottom: 2px solid black;
}
#home_site_main2 img{
    width: 90%;
    height: 85%;
}
#customer_service img{
    grid-column: 1/2;
    grid-row:1/2;
    border: 5px solid white;
    border-top: none;
}
#customer_service h3{
    width: 100%;
    border: none;
    grid-column: 1/2;
    grid-row:2/3;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 5px;
    justify-self: center
}
#customer_service .signs{
    grid-column: 1/2;
    grid-row:3/4;
}

#phone_repar img{
    grid-column: 2/3;
    grid-row:1/2;
    border: 5px solid white;
    border-top: none;
}
#phone_repar h3{
    width: 100%;
    grid-column: 2/3;
    grid-row:2/3;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 5px;
    justify-self: center
}
#phone_repair .signs{
    grid-column: 2/3;
    grid-row:3/4;
}
#promo img{
    grid-column: 3/4;
    grid-row:1/2;
    border: 5px solid white;
    border-top: none;
}
#promo h3{
    width: 100%;
    grid-column: 3/4;
    grid-row:2/3;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 5px;
    justify-self: center;
}
#promo .signs{
    grid-column: 3/4;
    grid-row:2/3;
}
main #home_site_main2 .signs{
    width: 50px;
    height: 50px;
}
#home_site_main2 img:hover{
   transform: scale(1.1);
   opacity: 0.6;
}

#home_site_main3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    justify-items: center;
    border-top: 2px solid black;
    margin-top: 0px;
}
#home_site_main3 h3{
    padding-left: 30px;
    text-align: center;
}

#section2{
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
}
#section2 ul{
text-align: center;
list-style-type: none;
}
#main4{
    margin-top: 100px;
    border-top: 2px solid black;
    text-align: center;
    margin-bottom: 5px;
}
#main4 h2{
    margin-left: 50px;
    margin-right: 50px;
    background-color: black;
    color: white;
    margin-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    padding-top: 30px;
    font-size: 2em;
}
#motto{
    margin: 0%;
    text-align: center;
    background-color: black;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
}
#motto h4{
    font-weight: bolder;
}
#motto h4, p{
    margin: 0px;
    color: white;
}
/* HOME PAGE FOOTER */
footer{
    background-color: #264653;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}    
footer a{
    text-decoration: none;
}
footer img:hover{
    opacity: 0.6;
}
footer p {
    font-size: 1.5em;
    color: #E9C46A;
}
footer span{
    color: white;
}
footer .social img {
    padding-top: 15px;
    margin: 10px;
}  



/* PHONE SITE CSS */

.phones{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    color: #264653;
    background-color: white;
    justify-content: center;
    justify-items: start;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #999;
}
.phones a{
    display: inline-block;
    background-color: #2A9D8F;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 5px;
    font-weight: bolder;
    color: white;
    border-radius: 1rem;
    border: 1px solid #E9C46A;
    text-decoration: none;
}
#phone_cont2 a, #phone_cont4 a{
    background-color: #264653;
}
.phones a:hover{
    background-color: #E9C46A;
}
#phone_cont2 a:hover, #phone_cont4 a:hover{
    background-color: #E9C46A;
}
.phones .amount{
    color: red;
    font-weight: bolder;
}
.phones .qty, .phones p{
    background-color: #264653;
    color: #E9C46A;
    padding: 5px;
}
.phones .money{
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    color: #264653;
    font-weight: 400;
    margin-left: 5px;
}
#phone_cont2, #phone_cont4{
    background-color: #2A9D8F;
    border-bottom: 0px;
}
#phone_cont4 .phone_count1_sect1{
    margin-top: 50px;
    margin-bottom: 50px;

}
.phones section{
    width: 100%;
    color: white;
    padding: 20px;
}
.phones li{
    text-align: left;
    padding: 3px;
    font-size: small;
    font-weight: 300;
}
.phone_count1_sect1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
}
.phone_count1_sect1 .p_section1{
    width: 90%;
    justify-self: start;
    grid-column: 1/2;
    grid-row: 1/2;
}
.phone_count1_sect1 .p_section2{
 
    background-color: white;
    align-items: end;
    width: 90%;
    padding-top: 150px;
    justify-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
    align-items: end;
}
#none_border1, #none_border2, #none_border3, #none_border4, #none_border5{
    border-right: 2px solid #999;
}
.p_section1 ul{
    border-bottom-right-radius: 5rem;
    padding: 15px;
    border-top-left-radius: 2rem;
}
.p_section1 h2, ul, h6, .h3{
    background-color: #264653;
    padding: 5px;
}
.p_section1 h6{
    align-self: self-end;
    display: inline;
}
.p_section1 h3{
    color: #E9C46A;   
    padding: 10px;
    justify-self: start; 
    display: inline;
}
.p_section1 h2{
    padding: 15px;
    border-top-left-radius: 5rem;
}
.p_section1 span{
    color: #E9C46A;
    text-decoration: underline;
    display: inline;
}
.p_section2 div{
    grid-row: 2/3;
    grid-column: 1/3;
}
.p_section2 img{
    width: 250px;

}
/*PHONE SECTION 1*/
#phone_cont1{
    align-items: self-end;
}

/*PHONE SECTION 2*/
#phone_cont2 .p_section2, #phone_cont4 .p_section2{
    background-color: #2A9D8F;
    display: inline;

}
section ul {
    background-color: #264653;
    list-style-type: none;
}
#home_site_main3 #section2 ul{
    list-style-type: none;
}
#home_site_main3 ul{
    background-color:white;
    list-style-type: disc;
}
#phone_cont3{
    border-top: 2px solid #999;
}
#phone_cont5{
    border-bottom: 0px;
    border-top: 2px solid #999;
}
#phone_cont5 .phone_count1_sect1, #phone_cont5 .phones{
    padding-bottom: 50px;
}




/*ACCESORIES CSS*/

#access_main #h1{
    padding: 30px;
    font-size: 1.2rem; 
    color: #264653;
}
#access_main h4{
    color: #264653;
}
#access_main .span{
    padding: 10px;
    background-color: black;
    color: #E9C46A;
    border-radius: 1rem;
}
.double1 a, .double2 a, #Single a{
    display: inline-block;
    background-color: #2A9D8F;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bolder;
    color: white;
    border-radius: 1rem;
    border: 1px solid #E9C46A;
    text-decoration: none;
}
.double1 a:hover, .double2 a:hover, #Single a:hover{
    background-color: #E9C46A;
}
#acess_log{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 250px;
    background-color: white;
    margin-bottom: 100px;
    justify-items: center;
}
#double_acces1{
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: self-start;
    justify-self: center;
    margin: 10px;
}
#single-one{
    background-color: white;
    grid-row: 1/3;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    z-index: 1;
    width: 40%;
    height: 40%;
}
#double_acces2{
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: self-end;
    justify-self: center;
    margin: 10px;
}

#Single{
    background-color: #2A9D8F;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 5px solid #264653;
    display: grid;
    grid-template-columns: 1fr;
}
.double1, .double2{
    width: 90%;
    height: 35%;
    margin: 0 auto;
    border: 5px solid #264653;
    display: grid;
    grid-template-columns: 1fr;
}

#single-one #new{
    display: inline;
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: white;
    color: #264653;
    font-weight: bolder;
    padding: 10px;
    margin-right:50px;
    align-self: center;
    justify-self: end;
    height: 35%;
    border-radius: 1rem;
    border: 2px solid #264653;
    margin-bottom: 20px;
}
#single-one img{
    grid-row: 1/2;
    grid-column: 1/3;
    align-self: center;
    margin-right: 12rem;
    justify-self: center;
}
.double_acces{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
    background-color:white;
    width: 90%;
    margin: 0 auto;
}
.double1{
    display: grid;
    grid-template-columns: 1fr;
    justify-self: start;   
}
.double1 .new, .double2 .new{
    display: inline;
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: white;
    color: #264653;
    font-weight: bolder;
    padding: 10px;
    margin-right:70px;
    align-self: center;
    justify-self: end;
    height: 40%;
    border-radius: 1rem;
    border: 2px solid #264653;
}
#double_acces1 img{
    align-self: self-start;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
#double_acces2 img{
    align-self: self-end;
    justify-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.double1 img, .double2 img{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-right:12rem;
}
.double_acces img, #Single img{
    width: 250px;
    height: 300px;
}
.double1, .double2{
  border: 5px solid #264653;
  margin: 20px;
  height: 100%;
}



/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
@media (max-width: 1230px) {
    #top_nav{
        margin-left: 0%;
        padding: 5px;
    } 
    #home_site_header h1{
        font-size: 200%;
        margin: 0 auto;
        margin-top: 3%;
        width: fit-content;
    }
    #home_site_header h2{
        padding-top: 9%;
        margin: 0 auto;
        font-size: 200%;
        width: fit-content;
    }
    #home_site_header p{
        margin-top: 12%;
        font-size: 150%;
    }
    #home_site_header a{
        margin-top: 20%;
        font-size: 100%;
        width: fit-content;
    }  
}

/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
@media (max-width: 1060px) {
    h2{
        font-size: 0.5rem;
        display: inline;
    }
    #top_nav a{
       padding: 20px;
    }
    #home_site_header h1{
        font-size: 125%;
        margin: 0 auto;
        margin-top: 3%;
        width: fit-content;
    }
    #home_site_header h2{
        padding-top: 10%;
        margin: 0 auto;
        font-size: 125%;
        width: fit-content;
    }
    #home_site_header p{
        margin-top: 12%;
        font-size: 125%;
    }
    #home_site_header a{
        margin-top: 25%;
        font-size: 95%;
        width: fit-content;
    }
}

/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
@media (max-width: 975px) {

    #home_site_nav h2{
        font-size: 150%;
    }
    footer .social img {
        padding-top: 10px;
        margin: 5px;
        width: 20%;
    }
    footer{
        font-size: 100%;
    } 
    #home_site_main3 #section1, #section2, #section3, #motto{
        font-size: 80%;
        width: 80%;
        margin: 0 auto;
        padding: 5px;
     }
     #home_site_footer p{
        font-size: 100%;
     }
     #home_site_header{
        margin-left: 20px;
        margin-right: 20px;
     }
     #home_site_header h1{
        font-size: 130%;
        margin: 0 auto;
        margin-top: 3%;
        width: fit-content;
        }
        #home_site_header h2{
            padding-top: 10%;
            margin: 0 auto;
            font-size: 130%;
            width: fit-content;
        }
        #home_site_header p{
            margin-top: 12%;
            font-size: 130%;
        }
        #home_site_header a{
            margin-top: 25%;
            font-size: 100%;
            width: fit-content;
        }
        #home_site_main1{
            margin: 0 auto;
            justify-content: start;
            justify-items: start;
            width: 100%;
            height: 50%;
            padding: 0px;
            justify-self: center;
        }
        #home_site_main1 #main1{
            display: grid;
            grid-template-rows: 1fr 1fr;
            width: 100%;
            height: 30%;
            padding-bottom: 0px;
        }
        #aboutus{
            width: 80%;
            height: 100%;
            grid-column: 1/3;
            grid-row:1/2;
            padding-left: 70px;
        }
        #aboutus h3{
            font-size: 150%;
            margin-top: 5px;
            padding: 5px;
        }
        #home_site_main1 #aboutus_img{
            width: 80%;
            grid-row: 2/3;
            grid-column: 1/3;
            padding-right: 130px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        #home_site_main1 #aboutus p{
            font-size: 130%;
            padding-top: 2px;
            width: 90%;
            padding-left: 0px;
        }  
        main #d-vera p{
            font-size: 2%;
            grid-row: 3/4;
            grid-column: 1/3;
        }
        #home_site_main2{
            width: 95%;
            margin: 0 auto;
            margin-left: 10px;
            margin-top: 10px;
        }
        #home_site_main2 img{
            width: 95%;
            height: 50%;  
        }
        #home_site_main2 h3{
            font-size: 60%;
        }
}

/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
@media (max-width: 880px) {
    #home_site_nav h2{
        font-size: 120%;
    }
    #top_nav a{
        padding: 10px;
        font-size: 95%;
     }
     #home_site_nav img{
        width: 80px;
     }
     #home_site_main3 #section1, #section2, #section3, #motto{
        font-size: 70%;
        width: 70%;
        margin: 0 auto;
        padding: 5px;
     }
     #home_site_footer p{
        font-size: 90%;
     }
     #home_site_header h1{
        font-size: 150%;
        margin: 0 auto;
        margin-top: 3%;
        width: fit-content;
        }
        #home_site_header h2{
            padding-top: 10%;
            margin: 0 auto;
            font-size: 150%;
            width: fit-content;
        }
        #home_site_header p{
            margin-top: 13%;
            font-size: 150%;
            width: fit-content;
            margin-left: 20px;
            margin-right: 20px;
        }
        #home_site_header a{
            margin-top: 30%;
            font-size: 100%;
            width: fit-content;
        }
        #aboutus{
            width: 75%;
            height: 100%;
            grid-column: 1/3;
            grid-row:1/2;
            margin-right: 115px;
        }
        #aboutus h3{
            font-size: 150%;
            margin-top: 5px;
            padding: 5px;
        }
        #home_site_main1 #aboutus_img{
            width: 80%;
            grid-row: 2/3;
            grid-column: 1/3;
            padding-right: 110px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 0px;
        }
        #home_site_main1 #aboutus p{
            font-size: 120%;
            padding-top: 2px;
            width: 100%;
            height: fit-content;
            padding: 5px;
            text-align: center;
        }  
        main #d-vera p{
            font-size: 2%;
            grid-row: 3/4;
            grid-column: 1/3;
        }
}

/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
@media (max-width: 685px) {
    #home_site_nav h2{
        font-size: 110%;
    }
    #top_nav a{
        padding: 10px;
        font-size: 85%;
     }
     #home_site_nav img{
        width: 75px;
     }
     #home_site_main3 #section1, #section2, #section3, #motto{
        font-size: 70%;
        width: 70%;
        margin: 0 auto;
        padding: 5px;
     }
     #home_site_footer p{
        font-size: 90%;
     }
     #home_site_header h1{
        font-size: 95%;
        margin: 0 auto;
        margin-top: 3%;
        width: fit-content;
        }
        #home_site_header h2{
            padding-top: 10%;
            margin: 0 auto;
            font-size: 95%;
            width: fit-content;
        }
        #home_site_header p{
            margin-top: 14%;
            font-size: 90%;
        }
        #home_site_header a{
            margin-top: 40%;
            font-size: 95%;
            width: fit-content;
        }
}

/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
@media (max-width: 640px) {
    nav{
        margin: 0 auto;
    }
    #home_site_nav h2{
        font-size: 80%;
    }
    #top_nav a{
        padding: 5px;
        font-size: 75%;
     }
     #home_site_nav img{
        width: 75px;
     }
     #home_site_main3 #section1, #section2, #section3, #motto{
        font-size: 70%;
        width: 70%;
        margin: 0 auto;
        padding: 5px;
     }
     #home_site_footer p{
        font-size: 90%;
     }
     #home_site_main1{
        margin: 0 auto;
        justify-content: start;
        justify-items: start;
        width: 100%;
        height: 50%;
        padding: 0px;
        justify-self: center;
    }
    #home_site_main1 #main1{
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 30%;
        padding-left: 25px;
        padding-bottom: 0px;
    }
    #aboutus{
        width: 80%;
        height: 100%;
        grid-column: 1/3;
        grid-row:1/2;
    }
    #aboutus h3{
        font-size: 100%;
        margin-top: 5px;
        padding: 5px;
    }
    #home_site_main1 #aboutus_img{
        width: 90%;
        grid-row: 2/3;
        grid-column: 1/3;
        padding-right: 38px;
        margin-top: 0px;
        gap: 0px;
    }
    #home_site_main1 #aboutus p{
        font-size: 60%;
        padding-top: 2px;
        width: 100%;
        height: fit-content;
        padding: 5px;
        text-align: center;
    }  
    main #d-vera p{
        font-size: 2%;
        grid-row: 3/4;
        grid-column: 1/3;
    }
    #home_site_main2{
        width: 95%;
        margin: 0 auto;
        margin-left: 10px;
        margin-top: 10px;
    }
    #home_site_main2 img{
        width: 95%;
        height: 50%;  
    }
    #home_site_main2 h3{
        font-size: 60%;
    }
    form{
        width: 85%;
        margin: 0 auto;
        border-radius: 1rem;
        padding: 1rem;
        margin-top: 20px;
        margin-bottom: 20px;
    
    }
    fieldset{
        margin: 0 auto;
        border-radius: 5px;
        margin-right: 10px;
        
    }
    legend{
        font-size: 0.5rem;
    }
    form ul li{
        margin-top: 0.5rem;
        margin: 5px;
    }
    label{
        width: 60px;
    }
    input, textarea{
        font: 0.5em sans-serif;
        width: 280px;
        padding-top: 5px;
    }
}

/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
@media (max-width: 535px) {
    nav{
        margin: 0 auto;
        grid-template-columns: 100px 100px 1fr;
    }
    #home_site_nav h2{
        font-size: 55%;
        align-self: center;
        justify-self: start;
    }
    #top_nav a{
        padding: 5px;
        font-size: 55%;
        align-self: self-start;
     }
     #home_site_nav img{
        width: 55px;
        display: inline;
     }
     #home_site_main3 #section1, #section2, #section3, #motto{
        font-size: 70%;
        width: 70%;
        margin: 0 auto;
        padding: 5px;
     }
     #home_site_footer p{
        font-size: 90%;
     }
     #home_site_header h1{
        font-size: 70%;
        margin: 0 auto;
        margin-top: 3%;
        width: fit-content;
        }
        #home_site_header h2{
            padding-top: 10%;
            margin: 0 auto;
            font-size: 70%;
            width: fit-content;
        }
        #home_site_header p{
            margin-top: 14%;
            font-size: 70%;
            width: fit-content;
        }
        #home_site_header a{
            margin-top: 40%;
            font-size: 75%;
            width: fit-content;
        }
}

/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
@media (max-width: 450px) {
    nav{
        margin: 0 auto;
        grid-template-columns: 50px 50px 1fr;
    }
    #home_site_nav h2{
        font-size: 50%;
        align-self: center;
        justify-self: start;
    }
    #top_nav a{
        padding: 5px;
        font-size: 50%;
        align-self: self-start;
     }
     #home_site_nav img{
        width: 40px;
        display: inline;
     }
     #home_site_main3 #section1, #section2, #section3, #motto{
        font-size: 70%;
        width: 70%;
        margin: 0 auto;
        padding: 5px;
     }
     #home_site_footer p{
        font-size: 90%;
     }
    #home_site_header h1{
    font-size: 70%;
    margin: 0 auto;
    margin-top: 3%;
    width: fit-content;
    }
    #home_site_header h2{
        padding-top: 10%;
        margin: 0 auto;
        font-size: 70%;
        width: fit-content;
    }
    #home_site_header p{
        margin-top: 14%;
        font-size: 70%;
        width: fit-content;
    }
    #home_site_header a{
        margin-top: 40%;
        font-size: 65%;
        width: fit-content;
    }
    #home_site_main1{
        margin: 0 auto;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        height: 50%;
        padding: 0px;
    }
    #home_site_main1 #main1{
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 30%;
        padding-left: 25px;
        padding-bottom: 0px;
    }
    #aboutus{
        width: 60%;
        height: 100%;
        grid-column: 1/3;
        grid-row:1/2;
    }
    #aboutus h3{
        font-size: 100%;
        margin-top: 5px;
        padding: 5px;
    }
    #home_site_main1 #aboutus_img{
        width: 90%;
        grid-row: 2/3;
        grid-column: 1/3;
        padding-right: 38px;
    }
    #home_site_main1 #aboutus p{
        font-size: 80%;
        padding-top: 2px;
        width: 80%;
        height: fit-content;
        padding: 5px;
        text-align: center;
    }  
    main #d-vera p{
        font-size: 2%;
        grid-row: 3/4;
        grid-column: 1/3;
    }
    #home_site_main2{
        width: 95%;
        margin: 0 auto;
        margin-left: 10px;
        margin-top: 10px;
    }
    #home_site_main2 img{
        width: 95%;
        height: 50%;  
    }
    #home_site_main2 h3{
        font-size: 60%;
    } 
    form{
        width: 85%;
        margin: 0 auto;
        border-radius: 1rem;
        padding: 1rem;
        margin-top: 20px;
        margin-bottom: 20px;
    
    }
    fieldset{
        margin: 0 auto;
        border-radius: 5px;
        margin-right: 10px;
        
    }
    legend{
        font-size: 0.5rem;
    }
    form ul li{
        margin-top: 0.5rem;
        margin: 5px;
    }
    label{
        width: 60px;
    }
    input, textarea{
        font: 0.5em sans-serif;
        width: 280px;
    }
}

/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
@media (max-width: 380px) {
    nav{
        margin: 0 auto;
        grid-template-columns: 50px 50px 1fr;
    }
    #home_site_nav h2{
        font-size: 50%;
        align-self: center;
        justify-self: start;
    }
    #top_nav a{
        padding: 5px;
        font-size: 50%;
        align-self: self-start;
     }
     #home_site_nav img{
        width: 40px;
        display: inline;
     }
     #home_site_main3 #section1, #section2, #section3, #motto{
        font-size: 70%;
        width: 70%;
        margin: 0 auto;
        padding: 5px;
     }
     #home_site_footer p{
        font-size: 90%;
     }

     #home_site_header{
        margin-left: 10px;
        margin-right: 10px;
     }
    #home_site_header h1{
    font-size: 80%;
    margin: 0 auto;
    margin-top: 3%;
    width: fit-content;
    }
    #home_site_header h2{
        padding-top: 12%;
        margin: 0 auto;
        font-size: 80%;
        width: fit-content;
    }
    #home_site_header p{
        margin-top: 15%;
        font-size: 80%;
        width: fit-content;
    }
    #home_site_header a{
        margin-top: 50%;
        margin-bottom: 10px;
        font-size: 40%;
        width: fit-content;
    }
    #home_site_main1{
        margin: 0 auto;
        justify-content: start;
        justify-items: start;
        width: 100%;
        height: 50%;
        padding: 0px;
        justify-self: center;
    }
    #home_site_main1 #main1{
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 30%;
        padding-left: 25px;
        padding-bottom: 0px;
    }
    #aboutus{
        width: 60%;
        height: 100%;
        grid-column: 1/3;
        grid-row:1/2;
    }
    #aboutus h3{
        font-size: 100%;
        margin-top: 5px;
        padding: 5px;
    }
    #home_site_main1 #aboutus_img{
        width: 90%;
        grid-row: 2/3;
        grid-column: 1/3;
        padding-right: 38px;
        margin-top: 0px;
        gap: 0px;
    }
    #home_site_main1 #aboutus p{
        font-size: 60%;
        padding-top: 2px;
        width: 80%;
        height: fit-content;
        padding: 5px;
    }  
    main #d-vera p{
        font-size: 2%;
        grid-row: 3/4;
        grid-column: 1/3;
    }
    #home_site_main2{
        width: 95%;
        margin: 0 auto;
        margin-left: 10px;
        margin-top: 10px;
    }
    #home_site_main2 img{
        width: 95%;
        height: 50%;  
    }
    #home_site_main2 h3{
        font-size: 60%;
    }
    form{
        width: 85%;
        margin: 0 auto;
        border-radius: 1rem;
        padding: 1rem;
        margin-top: 20px;
        margin-bottom: 20px;
    
    }
    fieldset{
        margin: 0 auto;
        border-radius: 5px;
        margin-right: 10px;
        
    }
    legend{
        font-size: 0.5rem;
    }
    form ul li{
        margin-top: 0.5rem;
        margin: 5px;
    }
    label{
        width: 60px;
    }
    input, textarea{
        font: 0.5em sans-serif;
        width: 280px;
    }
    #access_main #h1{
        font-size: 0.3;
    }
    #acess_log{
        gap: 25px;
    }
    #single-one{
        width: 5%;
        height:5%;
        display: inline-block;
    }
    #Single{
        width: 5%;
        height: 5%;
    }
    .double1, .double2{
        width: 5%;
        height: 5%;
       
    }
}